* {
    margin: 0px 10px;
    
}
h1 {
    font-weight: bold;
    color: tomato;
}
.firstro {
    background: #333333;
    color: #AAAAAA;
}
b {
    color: #EEEEEE;
}
.colorboi {
    color: #EEEEEE;
}
a {
    color: tomato;

}